table {
    width: 100%;
}

#red {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: red;
}

#green {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: greenyellow;
}